@font-face {
    font-family: 'Cabin';
    src: local('Cabin Regular'), local('Cabin-Regular'), url("/static/theme/fonts/cabin/Cabin-Regular-webfont.0a96a2fd19a3.eot");
    src: local('Cabin Regular'), local('Cabin-Regular'),
         url("/static/theme/fonts/cabin/Cabin-Regular-webfont.0a96a2fd19a3.eot?#iefix") format('embedded-opentype'),
         url("/static/theme/fonts/cabin/Cabin-Regular-webfont.3191a40366b2.woff") format('woff'),
         url("/static/theme/fonts/cabin/Cabin-Regular-webfont.d621892fa236.ttf") format('truetype'),
         url("/static/theme/fonts/cabin/Cabin-Regular-webfont.8fde0a31ceae.svg#CabinRegular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Italic'), local('Cabin-Italic'), url("/static/theme/fonts/cabin/Cabin-Italic-webfont.f9df5f203a1e.eot");
    src: local('Cabin Italic'), local('Cabin-Italic'),
         url("/static/theme/fonts/cabin/Cabin-Italic-webfont.f9df5f203a1e.eot?#iefix") format('embedded-opentype'),
         url("/static/theme/fonts/cabin/Cabin-Italic-webfont.59a457840ce6.woff") format('woff'),
         url("/static/theme/fonts/cabin/Cabin-Italic-webfont.c2cbe50fea08.ttf") format('truetype'),
         url("/static/theme/fonts/cabin/Cabin-Italic-webfont.9623d7a843ff.svg#CabinItalic") format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin Bold'), local('Cabin-Bold'), url("/static/theme/fonts/cabin/Cabin-Bold-webfont.dc0624d857f7.eot");
    src: local('Cabin Bold'), local('Cabin-Bold'),
         url("/static/theme/fonts/cabin/Cabin-Bold-webfont.dc0624d857f7.eot?#iefix") format('embedded-opentype'),
         url("/static/theme/fonts/cabin/Cabin-Bold-webfont.44532197fa34.woff") format('woff'),
         url("/static/theme/fonts/cabin/Cabin-Bold-webfont.9c5935bc0047.ttf") format('truetype'),
         url("/static/theme/fonts/cabin/Cabin-Bold-webfont.37716ac7cdf0.svg#CabinBold") format('svg');
    font-weight: bold;
    font-style: normal;
}
